[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "theme/attila"]
	path = theme/attila
	url = https://github.com/arulrajnet/attila.git
